<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true" debug="false">
  <!-- variables -->
  <property name="logbackLogDirectory" value="log"
    scope="local" />
  <property name="logbackMaxHistory" value="30" scope="local" />
  <property name="logbackTotalSizeCap" value="1GB"
    scope="local" />

  <!-- appenders -->
  <appender name="console"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger] => %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="asyncConsole"
    class="ch.qos.logback.classic.AsyncAppender" discardingThreshold="0">
    <appender-ref ref="console" />
  </appender>

  <appender name="file"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy
      class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logbackLogDirectory}/%d{yyyy-MM-dd}/all.log.gz
      </fileNamePattern>
      <maxHistory>${logbackMaxHistory}</maxHistory>
      <totalSizeCap>${logbackTotalSizeCap}</totalSizeCap>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger] => %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="asyncFile"
    class="ch.qos.logback.classic.AsyncAppender" discardingThreshold="0">
    <appender-ref ref="file" />
  </appender>

  <!-- root logger -->
  <root level="debug">
    <appender-ref ref="asyncConsole" />
    <appender-ref ref="asyncFile" />
  </root>

  <logger name="org.springframework" level="info" />

  <logger name="org.asynchttpclient.netty" level="info" />

  <!-- in the absence of the class attribute, assume ch.qos.logback.core.hook.DefaultShutdownHook -->
  <shutdownHook />
</configuration>