name: continuous-integration
on:
  pull_request:
    type:
    - '*'
    branches:
    - master
    - dev
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
    - name: show internal values
      run: |
        echo "github.ref_name: ${{ github.ref_name }}"
        echo "github.ref_type: ${{ github.ref_type }}"
        echo "github.event.action: ${{ github.event.action }}"
  call-maven-test:
    if: github.ref_type == 'branch' && (github.ref_name == 'master' || github.ref_name == 'dev' || startsWith(github.ref_name, 'feature/') || startsWith(github.ref_name, 'release/') || startsWith(github.ref_name, 'hotfix/') || endsWith(github.ref_name, '/merge'))
    uses: ./.github/workflows/maven-test.yml
    with:
      ref: ${{ github.sha }}
    secrets: inherit
  maven-deploy-snapshot:
    if: github.ref_type == 'branch' && github.ref_name == 'dev'
    needs:
    - call-maven-test
    runs-on: ubuntu-20.04
    concurrency:
      group: deploy-snapshot-${{ github.sha }}
    environment: 
      name: maven-repository-snapshot
      url: https://oss.sonatype.org/
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: '17'
        java-package: jdk
        architecture: x64
        distribution: 'temurin'
        cache: 'maven'
        server-id: 'ossrh-kquiet'
        server-username: MAVEN_SERVER_USERNAME
        server-password: MAVEN_SERVER_PASSWORD
    - name: Deploy snapshot artifacts to maven repository
      env:
        MAVEN_SERVER_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        MAVEN_SERVER_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
      run: |
        MAVEN_PROJECT_VERSION=`mvn help:evaluate -Dexpression=project.version -q -DforceStdout`
        echo "maven project version: $MAVEN_PROJECT_VERSION"
        if [[ "$MAVEN_PROJECT_VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+-SNAPSHOT$ ]]
        then
          mvn clean deploy -B -DskipTests -Darguments=-DskipTests
        fi