name: continuous-delivery-tag
on:
  pull_request:
    types:
      - '*'
    branches:
      - master
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "github.ref: ${{ github.ref}}"
        echo "github.ref_name: ${{ github.ref_name}}"
        echo "github.ref_type: ${{ github.ref_type}}"
        echo "github.sha: ${{ github.sha}}"
        echo "github.head_ref: ${{ github.head_ref}}"
        echo "github.base_ref: ${{ github.base_ref}}"
        echo "github.actor: ${{ github.actor}}"
        echo 'github.event.pull_request.merged: ${{ github.event.pull_request.merged }}'